body{
	font-family: "Lato", "Helvetica Neue", Helvetica, sans-serif;
	background: linear-gradient(#8DC63F, #89C159, #80B963, #6CAB5D, #4D9A42, #419639);
}

#top_bar{
	height: 10%;
	display: flex;
	justify-content: center;
}

#flex-container{
	display: flex;
	justify-content: center;
	flex-flow: row wrap;
	height: 90%;
}

.icon-container{
	background: linear-gradient(#A6610C, #9F6123, #946031, #795237, #644129, #543019);
	border-radius: 10px;
	margin: 10px;
	padding: 10px;
	box-shadow: 10px 10px 5px #419639;
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
}
